<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modifiedDate</key>
	<date>2012-06-28T18:30:41Z</date>
	<key>aircraft</key>
	<dict>
		<key>BD700-1A11</key>
		<dict>
			<key>typeGroupName</key>
			<string>Global 5000</string>
			<key>defaultPhoto</key>
			<string>BD700-1A11_default.png</string>
			<key>photos</key>
			<array>
				<string>BD700-1A11_details1.png</string>
				<string>BD700-1A11_details2.png</string>
				<string>BD700-1A11_details3.png</string>
				<string>BD700-1A11_details4.png</string>
			</array>
		</dict>
		<key>BD700-1A11_</key>
		<dict>
			<key>typeGroupName</key>
			<string>Global 6000</string>
			<key>defaultPhoto</key>
			<string>BD700-1A11__default.png</string>
			<key>photos</key>
			<array>
				<string>BD700-1A11__details1.png</string>
				<string>BD700-1A11__details2.png</string>
				<string>BD700-1A11__details3.png</string>
				<string>BD700-1A11__details4.png</string>
			</array>
		</dict>
		<key>BE-400A</key>
		<dict>
			<key>typeGroupName</key>
			<string>Hawker 400XP</string>
			<key>defaultPhoto</key>
			<string>BE-400A_default.png</string>
			<key>photos</key>
			<array>
				<string>BE-400A_details1.png</string>
				<string>BE-400A_details2.png</string>
				<string>BE-400A_details3.png</string>
				<string>BE-400A_details4.png</string>
			</array>
		</dict>
		<key>CE-560</key>
		<dict>
			<key>typeGroupName</key>
			<string>Citation V Ultra</string>
			<key>defaultPhoto</key>
			<string>CE-560_default.png</string>
			<key>photos</key>
			<array>
				<string>CE-560_details1.png</string>
				<string>CE-560_details2.png</string>
				<string>CE-560_details3.png</string>
				<string>CE-560_details4.png</string>
			</array>
		</dict>
		<key>CE-560E</key>
		<dict>
			<key>typeGroupName</key>
			<string>Citation Encore/+</string>
			<key>defaultPhoto</key>
			<string>CE-560E_default.png</string>
			<key>photos</key>
			<array>
				<string>CE-560E_details1.png</string>
				<string>CE-560E_details2.png</string>
				<string>CE-560E_details3.png</string>
				<string>CE-560E_details4.png</string>
			</array>
		</dict>
		<key>CE-560EP</key>
		<dict>
			<key>typeGroupName</key>
			<string>Citation Encore/+</string>
			<key>defaultPhoto</key>
			<string>CE-560E_default.png</string>
			<key>photos</key>
			<array>
				<string>CE-560E_details1.png</string>
				<string>CE-560E_details2.png</string>
				<string>CE-560E_details3.png</string>
				<string>CE-560E_details4.png</string>
			</array>
		</dict>
		<key>CE-560XL</key>
		<dict>
			<key>typeGroupName</key>
			<string>Citation Excel/XLS</string>
			<key>defaultPhoto</key>
			<string>CE-560XL_default.png</string>
			<key>photos</key>
			<array>
				<string>CE-560XL_details1.png</string>
				<string>CE-560XL_details2.png</string>
				<string>CE-560XL_details3.png</string>
				<string>CE-560XL_details4.png</string>
			</array>
		</dict>
		<key>CE-560XLS</key>
		<dict>
			<key>typeGroupName</key>
			<string>Citation Excel/XLS</string>
			<key>defaultPhoto</key>
			<string>CE-560XL_default.png</string>
			<key>photos</key>
			<array>
				<string>CE-560XL_details1.png</string>
				<string>CE-560XL_details2.png</string>
				<string>CE-560XL_details3.png</string>
				<string>CE-560XL_details4.png</string>
			</array>
		</dict>
		<key>CE-680</key>
		<dict>
			<key>typeGroupName</key>
			<string>Citation Sovereign</string>
			<key>defaultPhoto</key>
			<string>CE-680_default.png</string>
			<key>photos</key>
			<array>
				<string>CE-680_details1.png</string>
				<string>CE-680_details2.png</string>
				<string>CE-680_details3.png</string>
				<string>CE-680_details4.png</string>
			</array>
		</dict>
		<key>CE-750</key>
		<dict>
			<key>typeGroupName</key>
			<string>Citation X</string>
			<key>defaultPhoto</key>
			<string>CE-750_default.png</string>
			<key>photos</key>
			<array>
				<string>CE-750_details1.png</string>
				<string>CE-750_details2.png</string>
				<string>CE-750_details3.png</string>
				<string>CE-750_details4.png</string>
			</array>
		</dict>
		<key>DA-2000</key>
		<dict>
			<key>typeGroupName</key>
			<string>Falcon 2000EX/2000</string>
			<key>defaultPhoto</key>
			<string>DA-2000_default.png</string>
			<key>photos</key>
			<array>
				<string>DA-2000_details1.png</string>
				<string>DA-2000_details2.png</string>
				<string>DA-2000_details3.png</string>
				<string>DA-2000_details4.png</string>
			</array>
		</dict>
		<key>DA-2000LX</key>
		<dict>
			<key>typeGroupName</key>
			<string>Falcon 2000EX/2000</string>
			<key>defaultPhoto</key>
			<string>DA-2000_default.png</string>
			<key>photos</key>
			<array>
				<string>DA-2000_details1.png</string>
				<string>DA-2000_details2.png</string>
				<string>DA-2000_details3.png</string>
				<string>DA-2000_details4.png</string>
			</array>
		</dict>
		<key>DA-2EASY</key>
		<dict>
			<key>typeGroupName</key>
			<string>Falcon 2000EX/2000</string>
			<key>defaultPhoto</key>
			<string>DA-2000_default.png</string>
			<key>photos</key>
			<array>
				<string>DA-2000_details1.png</string>
				<string>DA-2000_details2.png</string>
				<string>DA-2000_details3.png</string>
				<string>DA-2000_details4.png</string>
			</array>
		</dict>
		<key>EMB-505</key>
		<dict>
			<key>typeGroupName</key>
			<string>Phenom 300</string>
			<key>defaultPhoto</key>
			<string>EMB-505_default.png</string>
			<key>photos</key>
			<array>
				<string>EMB-505_details1.png</string>
				<string>EMB-505_details2.png</string>
				<string>EMB-505_details3.png</string>
				<string>EMB-505_details4.png</string>
			</array>
		</dict>
		<key>G-200</key>
		<dict>
			<key>typeGroupName</key>
			<string>G200</string>
			<key>defaultPhoto</key>
			<string>G-200_default.png</string>
			<key>photos</key>
			<array>
				<string>G-200_details1.png</string>
				<string>G-200_details2.png</string>
				<string>G-200_details3.png</string>
				<string>G-200_details4.png</string>
			</array>
		</dict>
		<key>G-400</key>
		<dict>
			<key>typeGroupName</key>
			<string>G450/G400/GIV-SP</string>
			<key>defaultPhoto</key>
			<string>GIV-SP_default.png</string>
			<key>photos</key>
			<array>
				<string>GIV-SP_details1.png</string>
				<string>GIV-SP_details2.png</string>
				<string>GIV-SP_details3.png</string>
				<string>GIV-SP_details4.png</string>
			</array>
		</dict>
		<key>G-450</key>
		<dict>
			<key>typeGroupName</key>
			<string>G450/G400/GIV-SP</string>
			<key>defaultPhoto</key>
			<string>GIV-SP_default.png</string>
			<key>photos</key>
			<array>
				<string>GIV-SP_details1.png</string>
				<string>GIV-SP_details2.png</string>
				<string>GIV-SP_details3.png</string>
				<string>GIV-SP_details4.png</string>
			</array>
		</dict>
		<key>G-550</key>
		<dict>
			<key>typeGroupName</key>
			<string>G550/GV</string>
			<key>defaultPhoto</key>
			<string>GV_default.png</string>
			<key>photos</key>
			<array>
				<string>GV_details1.png</string>
				<string>GV_details2.png</string>
				<string>GV_details3.png</string>
				<string>GV_details4.png</string>
			</array>
		</dict>
		<key>GIV-SP</key>
		<dict>
			<key>typeGroupName</key>
			<string>G450/G400/GIV-SP</string>
			<key>defaultPhoto</key>
			<string>GIV-SP_default.png</string>
			<key>photos</key>
			<array>
				<string>GIV-SP_details1.png</string>
				<string>GIV-SP_details2.png</string>
				<string>GIV-SP_details3.png</string>
				<string>GIV-SP_details4.png</string>
			</array>
		</dict>
		<key>GV</key>
		<dict>
			<key>typeGroupName</key>
			<string>G550/GV</string>
			<key>defaultPhoto</key>
			<string>GV_default.png</string>
			<key>photos</key>
			<array>
				<string>GV_details1.png</string>
				<string>GV_details2.png</string>
				<string>GV_details3.png</string>
				<string>GV_details4.png</string>
			</array>
		</dict>
		<key>HS-125-800XP</key>
		<dict>
			<key>typeGroupName</key>
			<string>Hawker 900XP/800XP</string>
			<key>defaultPhoto</key>
			<string>HS-125-800XP_default.png</string>
			<key>photos</key>
			<array>
				<string>HS-125-800XP_details1.png</string>
				<string>HS-125-800XP_details2.png</string>
				<string>HS-125-800XP_details3.png</string>
				<string>HS-125-800XP_details4.png</string>
			</array>
		</dict>
		<key>HS-125-800XPC</key>
		<dict>
			<key>typeGroupName</key>
			<string>Hawker 900XP/800XP</string>
			<key>defaultPhoto</key>
			<string>HS-125-800XP_default.png</string>
			<key>photos</key>
			<array>
				<string>HS-125-800XP_details1.png</string>
				<string>HS-125-800XP_details2.png</string>
				<string>HS-125-800XP_details3.png</string>
				<string>HS-125-800XP_details4.png</string>
			</array>
		</dict>
		<key>HS-125-900XP</key>
		<dict>
			<key>typeGroupName</key>
			<string>Hawker 900XP/800XP</string>
			<key>defaultPhoto</key>
			<string>HS-125-800XP_default.png</string>
			<key>photos</key>
			<array>
				<string>HS-125-800XP_details1.png</string>
				<string>HS-125-800XP_details2.png</string>
				<string>HS-125-800XP_details3.png</string>
				<string>HS-125-800XP_details4.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
